.DS_Store
*.swp

/data/nrw-roads.zip
/data/testbed-nrw
/data/combiner/*.dbf
/data/combiner/*.fix
/data/combiner/*.prj
/data/combiner/*.qix
/data/combiner/*.shp
/data/combiner/*.shx
/data/combiner/*.json
/data/testbed-out/*.dbf
/data/testbed-out/*.qix
/data/testbed-out/*.shp
/data/testbed-out/*.shx
/data/testbed-out/*.fix
/data/testbed-out/*.prj

/project/build
/project/lib/args4j-2.0.21.jar
/project/lib/geotools-8.5
/project/lib/geotools-8.7.zip
/project/lib/geotools-9.0
/project/lib/testng-6.8.jar
/project/nohup.out

/thesis/chapter?/*.aux
/thesis/main/*.aux
