.DS_Store
*.swp
*~

/data/nrw-roads.zip
/data/testbed-nrw
/data/combiner/*.dbf
/data/combiner/*.fix
/data/combiner/*.prj
/data/combiner/*.qix
/data/combiner/*.shp
/data/combiner/*.shx
/data/combiner/*.json
/data/testbed-out/*.dbf
/data/testbed-out/*.qix
/data/testbed-out/*.shp
/data/testbed-out/*.shx
/data/testbed-out/*.fix
/data/testbed-out/*.prj
/data/koeln-regbez-180101.osm.pbf
/data/chapter6-*

/project/build
/project/lib/args4j-*
/project/lib/geotools-*
/project/lib/testng-*
/project/nohup.out

# TeX intermediate files
/thesis/*/*.aux
/thesis/*/*.bbl
/thesis/*/*.bcf
/thesis/*/*.blg
/thesis/*/*.lof
/thesis/*/*.lot
/thesis/*/*.out
/thesis/*/*.run.xml
/thesis/*/*.toc
/thesis/*/*.log

# copyrighted images used under § 51 UrhG
*_51.png
